// Variables
@import 'variables';

// Materialize
@import 'materialize/materialize';

// Navbar HDA (Search Bar)
@import 'components/nav-admin';

// Sidenav
@import 'components/sidenav-admin';

// Content
@import 'components/content';

// Content
@import 'components/cards';

// Detail Profile
@import 'components/detail-profile';

body{
    background-color: #f5f7f9;
    overflow-y: scroll;
}

.section{
    @media screen and (min-width: 993px){
        margin-left: 260px;
        margin-top: 115px;
    }
}

