// Variables
@charset "UTF-8";

// Materialize
@import "materialize/materialize";

@import "components/star";

@import "components/custom-background";

html{
    min-height: 100%;
    background: radial-gradient(ellipse at bottom, #292D35 0%,#292D35 100%);
}

nav{
    padding: 0 25px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none;
}

.credit-container{
    @extend .container;
    margin-top: 50px;
    color: white; 
    z-index: 10;

    h1{
        text-align: center;
        
    }

    .members{
        padding: 20px;
        text-align: center;

        .post-image{
            width: 80%;
            margin-bottom: 20px; 
            background: #efe1da;
            -webkit-box-shadow: 15px 15px 0 0 hsla(180,4%,75%,.3);
            box-shadow: 15px 15px 0 0 hsla(180,4%,75%,.3);
            border: 1px solid $colorTwo;
            border-radius: 3px;
        }
        
        span{
            display: block;
        }

        .name{
            font-size: 24px;
        }
    }
}