#overlay {
    position: fixed;
    display: none; /* Hidden by default */
    width: 100%;
    height: 100%;
    top: 0;

    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    
    overflow-x: auto;
    transition: 0.5s;
}

#detail-container{
    @extend .white;

    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 5px; 
}

#header-detail{
    @extend .teal, .white-text;

    min-height: 53vh;
    text-align: center;
    padding: 5px;
    
    border-radius: 4px  4px 0 0;
    
    span > i{
        cursor: pointer;
    }

    #user-photos{
        margin-top:10px;
        width: 200px;
        height: 200px;
    
        border: none;
    }

    h5{
        font-size: 1.75rem;
        font-weight: 500;
        margin-bottom: 0;
    }
    p{
        font-size: 1.3rem;
        font-weight: 200;
        margin: 0;
    }
    .contact{
        margin-top: 35px;
        margin-bottom: 0;
        font-weight: 200;
        font-size: 1.3rem;
        vertical-align: middle;
        
        i{
            font-size: 1.2rem;
        }

        .material-icons{
            top: 5px;
        }
    }
}

#body-detail{
    @extend .grey, .lighten-5;

    padding: 16px;
    min-height: 50vh;
    border-radius: 0 0 4px  4px; 
    h4{
        padding-left:20px;
        margin-top: 12px;
        font-size: 1.3rem;
    }

    .data{
        @extend .white;
        padding: 16px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
        
        p{
            margin: 0;
        }

        ul{
            margin: 0;
        }
    }
}


