.logo-container{
    text-align: center;
    img{
        height: 48px;
    }
}

.sidenav{
    width: 260px;
    background: rgb(55,71,79);
    background: linear-gradient(0deg, rgba(55,71,79,1) 0%, rgba(69,90,100,1) 64%);

    .collapsible{
        margin-top: 32px;

        .collapsible-header{
            padding-left: 48px;
        }
        .collapsible-body{
            background: transparent;
            
            li > a{
                margin-left: 40px;
                padding-left: 8px;
                font-weight: 300;
                border-radius: 99px 0 0 99px;

                line-height: 20px;
                height: 36px;
                padding-top: 8px;
                padding-bottom: 8px;
                
            }
            li.active {
                background-color: transparent !important;
                > a{
                    @extend .blue-grey, .darken-4;
                }
            }
        }
        
    }
    
    li > a{
        color: white !important;
        font-size: 16px;
        font-weight: 500;


        i.material-icons{
            color: white !important;
            margin-right: 4px;
            font-size: 1.2em;
            line-height: 20px;
        }



    }
    
    li.active{
        background: transparent;
    }
    
}