$colorOne: #CE332F;
$colorTwo: #8EBBF6;
$colorThree: #FFFFA6;

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px $colorOne, 324px 42px $colorOne, 303px 586px $colorOne,
    1312px 276px $colorOne, 451px 625px $colorOne, 521px 1931px $colorOne, 1087px 1871px $colorOne,
    36px 1546px $colorOne, 132px 934px $colorOne, 1698px 901px $colorOne, 1418px 664px $colorOne,
    1448px 1157px $colorOne, 1084px 232px $colorOne, 347px 1776px $colorOne, 1722px 243px $colorOne,
    1629px 835px $colorOne, 479px 969px $colorOne, 1231px 960px $colorOne, 586px 384px $colorOne,
    164px 527px $colorOne, 8px 646px $colorOne, 1150px 1126px $colorOne, 665px 1357px $colorOne,
    1556px 1982px $colorOne, 1260px 1961px $colorOne, 1675px 1741px $colorOne,
    1843px 1514px $colorOne, 718px 1628px $colorOne, 242px 1343px $colorOne, 1497px 1880px $colorOne,
    1364px 230px $colorOne, 1739px 1302px $colorOne, 636px 959px $colorOne, 304px 686px $colorOne,
    614px 751px $colorOne, 1935px 816px $colorOne, 1428px 60px $colorOne, 355px 335px $colorOne,
    1594px 158px $colorOne, 90px 60px $colorOne, 1553px 162px $colorOne, 1239px 1825px $colorOne,
    1945px 587px $colorOne, 749px 1785px $colorOne, 1987px 1172px $colorOne, 1301px 1237px $colorOne,
    1039px 342px $colorOne, 1585px 1481px $colorOne, 995px 1048px $colorOne, 524px 932px $colorOne,
    214px 413px $colorOne, 1701px 1300px $colorOne, 1037px 1613px $colorOne, 1871px 996px $colorOne,
    1360px 1635px $colorOne, 1110px 1313px $colorOne, 412px 1783px $colorOne, 1949px 177px $colorOne,
    903px 1854px $colorOne, 700px 1936px $colorOne, 378px 125px $colorOne, 308px 834px $colorOne,
    1118px 962px $colorOne, 1350px 1929px $colorOne, 781px 1811px $colorOne, 561px 137px $colorOne,
    757px 1148px $colorOne, 1670px 1979px $colorOne, 343px 739px $colorOne, 945px 795px $colorOne,
    576px 1903px $colorOne, 1078px 1436px $colorOne, 1583px 450px $colorOne, 1366px 474px $colorOne,
    297px 1873px $colorOne, 192px 162px $colorOne, 1624px 1633px $colorOne, 59px 453px $colorOne,
    82px 1872px $colorOne, 1933px 498px $colorOne, 1966px 1974px $colorOne, 1975px 1688px $colorOne,
    779px 314px $colorOne, 1858px 1543px $colorOne, 73px 1507px $colorOne, 1693px 975px $colorOne,
    1683px 108px $colorOne, 1768px 1654px $colorOne, 654px 14px $colorOne, 494px 171px $colorOne,
    1689px 1895px $colorOne, 1660px 263px $colorOne, 1031px 903px $colorOne, 1203px 1393px $colorOne,
    1333px 1421px $colorOne, 1113px 41px $colorOne, 1206px 1645px $colorOne, 1325px 1635px $colorOne,
    142px 388px $colorOne, 572px 215px $colorOne, 1535px 296px $colorOne, 1419px 407px $colorOne,
    1379px 1003px $colorOne, 329px 469px $colorOne, 1791px 1652px $colorOne, 935px 1802px $colorOne,
    1330px 1820px $colorOne, 421px 1933px $colorOne, 828px 365px $colorOne, 275px 316px $colorOne,
    707px 960px $colorOne, 1605px 1554px $colorOne, 625px 58px $colorOne, 717px 1697px $colorOne,
    1669px 246px $colorOne, 1925px 322px $colorOne, 1154px 1803px $colorOne, 1929px 295px $colorOne,
    1248px 240px $colorOne, 1045px 1755px $colorOne, 166px 942px $colorOne, 1888px 1773px $colorOne,
    678px 1963px $colorOne, 1370px 569px $colorOne, 1974px 1400px $colorOne, 1786px 460px $colorOne,
    51px 307px $colorOne, 784px 1400px $colorOne, 730px 1258px $colorOne, 1712px 393px $colorOne,
    416px 170px $colorOne, 1797px 1932px $colorOne, 572px 219px $colorOne, 1557px 1856px $colorOne,
    218px 8px $colorOne, 348px 1334px $colorOne, 469px 413px $colorOne, 385px 1738px $colorOne,
    1357px 1818px $colorOne, 240px 942px $colorOne, 248px 1847px $colorOne, 1535px 806px $colorOne,
    236px 1514px $colorOne, 1429px 1556px $colorOne, 73px 1633px $colorOne, 1398px 1121px $colorOne,
    671px 1301px $colorOne, 1404px 1663px $colorOne, 740px 1018px $colorOne, 1600px 377px $colorOne,
    785px 514px $colorOne, 112px 1084px $colorOne, 1915px 1887px $colorOne, 1463px 1848px $colorOne,
    687px 1115px $colorOne, 1268px 1768px $colorOne, 1729px 1425px $colorOne,
    1284px 1022px $colorOne, 801px 974px $colorOne, 1975px 1317px $colorOne, 1354px 834px $colorOne,
    1446px 1484px $colorOne, 1283px 1786px $colorOne, 11px 523px $colorOne, 1842px 236px $colorOne,
    1355px 654px $colorOne, 429px 7px $colorOne, 1033px 1128px $colorOne, 157px 297px $colorOne,
    545px 635px $colorOne, 52px 1080px $colorOne, 827px 1520px $colorOne, 1121px 490px $colorOne,
    9px 309px $colorOne, 1744px 1586px $colorOne, 1014px 417px $colorOne, 1534px 524px $colorOne,
    958px 552px $colorOne, 1403px 1496px $colorOne, 387px 703px $colorOne, 1522px 548px $colorOne,
    1355px 282px $colorOne, 1532px 601px $colorOne, 1838px 790px $colorOne, 290px 259px $colorOne,
    295px 598px $colorOne, 1601px 539px $colorOne, 1561px 1272px $colorOne, 34px 1922px $colorOne,
    1024px 543px $colorOne, 467px 369px $colorOne, 722px 333px $colorOne, 1976px 1255px $colorOne,
    766px 983px $colorOne, 1582px 1285px $colorOne, 12px 512px $colorOne, 617px 1410px $colorOne,
    682px 577px $colorOne, 1334px 1438px $colorOne, 439px 327px $colorOne, 1617px 1661px $colorOne,
    673px 129px $colorOne, 794px 941px $colorOne, 1386px 1902px $colorOne, 37px 1353px $colorOne,
    1467px 1353px $colorOne, 416px 18px $colorOne, 187px 344px $colorOne, 200px 1898px $colorOne,
    1491px 1619px $colorOne, 811px 347px $colorOne, 924px 1827px $colorOne, 945px 217px $colorOne,
    1735px 1228px $colorOne, 379px 1890px $colorOne, 79px 761px $colorOne, 825px 1837px $colorOne,
    1980px 1558px $colorOne, 1308px 1573px $colorOne, 1488px 1726px $colorOne,
    382px 1208px $colorOne, 522px 595px $colorOne, 1277px 1898px $colorOne, 354px 552px $colorOne,
    161px 1784px $colorOne, 614px 251px $colorOne, 526px 1576px $colorOne, 17px 212px $colorOne,
    179px 996px $colorOne, 467px 1208px $colorOne, 1944px 1838px $colorOne, 1140px 1093px $colorOne,
    858px 1007px $colorOne, 200px 1064px $colorOne, 423px 1964px $colorOne, 1945px 439px $colorOne,
    1377px 689px $colorOne, 1120px 1437px $colorOne, 1876px 668px $colorOne, 907px 1324px $colorOne,
    343px 1976px $colorOne, 1816px 1501px $colorOne, 1849px 177px $colorOne, 647px 91px $colorOne,
    1984px 1012px $colorOne, 1336px 1300px $colorOne, 128px 648px $colorOne, 305px 1060px $colorOne,
    1324px 826px $colorOne, 1263px 1314px $colorOne, 1801px 629px $colorOne, 1614px 1555px $colorOne,
    1634px 90px $colorOne, 1603px 452px $colorOne, 891px 1984px $colorOne, 1556px 1906px $colorOne,
    121px 68px $colorOne, 1676px 1714px $colorOne, 516px 936px $colorOne, 1947px 1492px $colorOne,
    1455px 1519px $colorOne, 45px 602px $colorOne, 205px 1039px $colorOne, 793px 172px $colorOne,
    1562px 1739px $colorOne, 1056px 110px $colorOne, 1512px 379px $colorOne, 1795px 1621px $colorOne,
    1848px 607px $colorOne, 262px 1719px $colorOne, 477px 991px $colorOne, 483px 883px $colorOne,
    1239px 1197px $colorOne, 1496px 647px $colorOne, 1649px 25px $colorOne, 1491px 1946px $colorOne,
    119px 996px $colorOne, 179px 1472px $colorOne, 1341px 808px $colorOne, 1565px 1700px $colorOne,
    407px 1544px $colorOne, 1754px 357px $colorOne, 1288px 981px $colorOne, 902px 1997px $colorOne,
    1755px 1668px $colorOne, 186px 877px $colorOne, 1202px 1882px $colorOne, 461px 1213px $colorOne,
    1400px 748px $colorOne, 1969px 1899px $colorOne, 809px 522px $colorOne, 514px 1219px $colorOne,
    374px 275px $colorOne, 938px 1973px $colorOne, 357px 552px $colorOne, 144px 1722px $colorOne,
    1572px 912px $colorOne, 402px 1858px $colorOne, 1544px 1195px $colorOne, 667px 1257px $colorOne,
    727px 1496px $colorOne, 993px 232px $colorOne, 1772px 313px $colorOne, 1040px 1590px $colorOne,
    1204px 1973px $colorOne, 1268px 79px $colorOne, 1555px 1048px $colorOne, 986px 1707px $colorOne,
    978px 1710px $colorOne, 713px 360px $colorOne, 407px 863px $colorOne, 461px 736px $colorOne,
    284px 1608px $colorOne, 103px 430px $colorOne, 1283px 1319px $colorOne, 977px 1186px $colorOne,
    1966px 1516px $colorOne, 1287px 1129px $colorOne, 70px 1098px $colorOne, 1189px 889px $colorOne,
    1126px 1734px $colorOne, 309px 1292px $colorOne, 879px 764px $colorOne, 65px 473px $colorOne,
    1003px 1959px $colorOne, 658px 791px $colorOne, 402px 1576px $colorOne, 35px 622px $colorOne,
    529px 1589px $colorOne, 164px 666px $colorOne, 1876px 1290px $colorOne, 1541px 526px $colorOne,
    270px 1297px $colorOne, 440px 865px $colorOne, 1500px 802px $colorOne, 182px 1754px $colorOne,
    1264px 892px $colorOne, 272px 1249px $colorOne, 1289px 1535px $colorOne, 190px 1646px $colorOne,
    955px 242px $colorOne, 1456px 1597px $colorOne, 1727px 1983px $colorOne, 635px 801px $colorOne,
    226px 455px $colorOne, 1396px 1710px $colorOne, 849px 1863px $colorOne, 237px 1264px $colorOne,
    839px 140px $colorOne, 1122px 735px $colorOne, 1280px 15px $colorOne, 1318px 242px $colorOne,
    1819px 1148px $colorOne, 333px 1392px $colorOne, 1949px 553px $colorOne, 1878px 1332px $colorOne,
    467px 548px $colorOne, 1812px 1082px $colorOne, 1067px 193px $colorOne, 243px 156px $colorOne,
    483px 1616px $colorOne, 1714px 933px $colorOne, 759px 1800px $colorOne, 1822px 995px $colorOne,
    1877px 572px $colorTwo, 581px 1084px $colorTwo, 107px 732px $colorTwo, 642px 1837px $colorTwo,
    166px 1493px $colorTwo, 1555px 198px $colorTwo, 819px 307px $colorTwo, 947px 345px $colorTwo,
    827px 224px $colorTwo, 927px 1394px $colorTwo, 540px 467px $colorTwo, 1093px 405px $colorTwo,
    1140px 927px $colorTwo, 130px 529px $colorTwo, 33px 1980px $colorTwo, 1147px 1663px $colorTwo,
    1616px 1436px $colorTwo, 528px 710px $colorTwo, 798px 1100px $colorTwo, 505px 1480px $colorTwo,
    899px 641px $colorTwo, 1909px 1949px $colorTwo, 1311px 964px $colorTwo, 979px 1301px $colorTwo,
    1393px 969px $colorTwo, 1793px 1886px $colorTwo, 292px 357px $colorTwo, 1196px 1718px $colorTwo,
    1290px 1994px $colorTwo, 537px 1973px $colorTwo, 1181px 1674px $colorTwo,
    1740px 1566px $colorTwo, 1307px 265px $colorTwo, 922px 522px $colorTwo, 1892px 472px $colorTwo,
    384px 1746px $colorTwo, 392px 1098px $colorTwo, 647px 548px $colorTwo, 390px 1498px $colorTwo,
    1246px 138px $colorTwo, 730px 876px $colorTwo, 192px 1472px $colorTwo, 1790px 1789px $colorTwo,
    928px 311px $colorTwo, 1253px 1647px $colorTwo, 747px 1921px $colorTwo, 1561px 1025px $colorTwo,
    1533px 1292px $colorTwo, 1985px 195px $colorTwo, 728px 729px $colorTwo, 1712px 1936px $colorTwo,
    512px 1717px $colorTwo, 1528px 483px $colorTwo, 313px 1642px $colorTwo, 281px 1849px $colorTwo,
    1212px 799px $colorTwo, 435px 1191px $colorTwo, 1422px 611px $colorTwo, 1718px 1964px $colorTwo,
    411px 944px $colorTwo, 210px 636px $colorTwo, 1502px 1295px $colorTwo, 1434px 349px $colorTwo,
    769px 60px $colorTwo, 747px 1053px $colorTwo, 789px 504px $colorTwo, 1436px 1264px $colorTwo,
    1893px 1225px $colorTwo, 1394px 1788px $colorTwo, 1108px 1317px $colorTwo,
    1673px 1395px $colorTwo, 854px 1010px $colorTwo, 1705px 80px $colorTwo, 1858px 148px $colorTwo,
    1729px 344px $colorTwo, 1388px 664px $colorTwo, 895px 406px $colorTwo, 1479px 157px $colorTwo,
    1441px 1157px $colorTwo, 552px 1900px $colorTwo, 516px 364px $colorTwo, 1647px 189px $colorTwo,
    1427px 1071px $colorTwo, 785px 729px $colorTwo, 1080px 1710px $colorTwo, 504px 204px $colorTwo,
    1177px 1622px $colorTwo, 657px 34px $colorTwo, 1296px 1099px $colorTwo, 248px 180px $colorTwo,
    1212px 1568px $colorThree, 667px 1562px $colorThree, 695px 841px $colorThree, 1608px 1247px $colorThree,
    751px 882px $colorThree, 87px 167px $colorThree, 607px 1368px $colorThree, 1363px 1203px $colorThree,
    1836px 317px $colorThree, 1668px 1703px $colorThree, 830px 1154px $colorThree, 1721px 1398px $colorThree,
    1601px 1280px $colorThree, 976px 874px $colorThree, 1743px 254px $colorThree, 1020px 1815px $colorThree,
    1670px 1766px $colorThree, 1890px 735px $colorThree, 1379px 136px $colorThree, 1864px 695px $colorThree,
    206px 965px $colorThree, 1404px 1932px $colorThree, 1923px 1360px $colorThree, 247px 682px $colorThree,
    519px 1708px $colorThree, 645px 750px $colorThree, 1164px 1204px $colorThree, 834px 323px $colorThree,
    172px 1350px $colorThree, 213px 972px $colorThree, 1837px 190px $colorThree, 285px 1806px $colorThree,
    1047px 1299px $colorThree, 1548px 825px $colorThree, 1730px 324px $colorThree, 1346px 1909px $colorThree,
    772px 270px $colorThree, 345px 1190px $colorThree, 478px 1433px $colorThree, 1479px 25px $colorThree,
    1994px 1830px $colorThree, 1744px 732px $colorThree, 20px 1635px $colorThree, 690px 1795px $colorThree,
    1594px 569px $colorThree, 579px 245px $colorThree, 1398px 733px $colorThree, 408px 1352px $colorThree,
    1774px 120px $colorThree, 1152px 1370px $colorThree, 1698px 1810px $colorThree, 710px 1450px $colorThree,
    665px 286px $colorThree, 493px 1720px $colorThree, 786px 5px $colorThree, 637px 1140px $colorThree,
    764px 324px $colorThree, 927px 310px $colorThree, 938px 1424px $colorThree, 1884px 744px $colorThree,
    913px 462px $colorThree, 1831px 1936px $colorThree, 1527px 249px $colorThree, 36px 1381px $colorThree,
    1597px 581px $colorThree, 1530px 355px $colorThree, 949px 459px $colorThree, 799px 828px $colorThree,
    242px 1471px $colorThree, 654px 797px $colorThree, 796px 594px $colorThree, 1365px 678px $colorThree,
    752px 23px $colorThree, 1630px 541px $colorThree, 982px 72px $colorThree, 1733px 1831px $colorThree,
    21px 412px $colorThree, 775px 998px $colorThree, 335px 1945px $colorThree, 264px 583px $colorThree,
    158px 1311px $colorThree, 528px 164px $colorThree, 1978px 574px $colorThree, 717px 1203px $colorThree,
    734px 1591px $colorThree, 1555px 820px $colorThree, 16px 1943px $colorThree, 1625px 1177px $colorThree,
    1236px 690px $colorThree, 1585px 1590px $colorThree, 1737px 1728px $colorThree, 721px 698px $colorThree,
    1804px 1186px $colorThree, 166px 980px $colorThree, 1850px 230px $colorThree, 330px 1712px $colorThree,
    95px 797px $colorThree, 1948px 1078px $colorThree, 469px 939px $colorThree, 1269px 1899px $colorThree,
    955px 1220px $colorThree, 1137px 1075px $colorThree, 312px 1293px $colorThree, 986px 1762px $colorThree,
    1103px 1238px $colorThree, 428px 1993px $colorThree, 355px 570px $colorThree, 977px 1836px $colorThree,
    1395px 1092px $colorThree, 276px 913px $colorThree, 1743px 656px $colorThree, 773px 502px $colorThree,
    1686px 1322px $colorThree, 1516px 1945px $colorThree, 1334px 501px $colorThree, 266px 156px $colorThree,
    455px 655px $colorThree, 798px 72px $colorThree, 1059px 1259px $colorThree, 1402px 1687px $colorThree,
    236px 1329px $colorThree, 1455px 786px $colorThree, 146px 1228px $colorThree, 1851px 823px $colorThree,
    1062px 100px $colorThree, 1220px 953px $colorThree, 20px 1826px $colorThree, 36px 1063px $colorThree,
    1525px 338px $colorThree, 790px 1521px $colorThree, 741px 1099px $colorThree, 288px 1489px $colorThree,
    700px 1060px $colorThree, 390px 1071px $colorThree, 411px 1036px $colorThree, 1853px 1072px $colorThree,
    1446px 1085px $colorThree, 1164px 874px $colorThree, 924px 925px $colorThree, 291px 271px $colorThree,
    1257px 1964px $colorThree, 1580px 1352px $colorThree, 1507px 1216px $colorThree, 211px 956px $colorThree,
    985px 1195px $colorThree, 975px 1640px $colorThree, 518px 101px $colorThree, 663px 1395px $colorThree,
    914px 532px $colorThree, 145px 1320px $colorThree, 69px 1397px $colorThree, 982px 523px $colorThree,
    257px 725px $colorThree, 1599px 831px $colorThree, 1636px 1513px $colorThree, 1250px 1158px $colorThree,
    1132px 604px $colorThree, 183px 102px $colorThree, 1057px 318px $colorThree, 1247px 1835px $colorThree,
    1983px 1110px $colorThree, 1077px 1455px $colorThree, 921px 1770px $colorThree, 806px 1350px $colorThree,
    1938px 1992px $colorThree, 855px 1260px $colorThree, 902px 1345px $colorThree, 658px 1908px $colorThree,
    1845px 679px $colorThree, 712px 1482px $colorThree, 595px 950px $colorThree, 1784px 1992px $colorThree,
    1847px 1785px $colorThree, 691px 1004px $colorThree, 175px 1179px $colorThree, 1666px 1911px $colorThree,
    41px 61px $colorThree, 971px 1080px $colorThree, 1830px 1450px $colorThree, 1351px 1518px $colorThree,
    1257px 99px $colorThree, 1395px 1498px $colorThree, 1117px 252px $colorThree, 1779px 597px $colorThree,
    1346px 729px $colorThree, 1108px 1144px $colorThree, 402px 691px $colorThree, 72px 496px $colorThree,
    1673px 1604px $colorThree, 1497px 974px $colorThree, 1865px 1664px $colorThree, 88px 806px $colorThree,
    918px 77px $colorThree, 244px 1118px $colorThree, 256px 1820px $colorThree, 1851px 1840px $colorThree,
    605px 1851px $colorThree, 634px 383px $colorThree, 865px 37px $colorThree, 943px 1024px $colorThree,
    1951px 177px $colorThree, 1097px 523px $colorThree, 985px 1700px $colorThree, 1243px 122px $colorThree,
    768px 1070px $colorThree, 468px 194px $colorThree, 320px 1867px $colorThree, 1850px 185px $colorThree,
    380px 1616px $colorThree, 468px 1294px $colorThree, 1122px 1743px $colorThree, 884px 299px $colorThree,
    1300px 1917px $colorThree, 1860px 396px $colorThree, 1270px 990px $colorThree, 529px 733px $colorThree,
    1975px 1347px $colorThree, 1885px 685px $colorThree, 226px 506px $colorThree, 651px 878px $colorThree,
    1323px 680px $colorThree, 1284px 680px $colorThree, 238px 1967px $colorThree, 911px 174px $colorThree,
    1111px 521px $colorThree, 1150px 85px $colorThree, 794px 502px $colorThree, 484px 1856px $colorThree,
    1809px 368px $colorThree, 112px 953px $colorThree, 590px 1009px $colorThree, 1655px 311px $colorThree,
    100px 1026px $colorThree, 1803px 352px $colorThree, 865px 306px $colorThree, 1077px 1019px $colorThree,
    1335px 872px $colorThree, 1647px 1298px $colorThree, 1233px 1387px $colorThree, 698px 1036px $colorThree,
    659px 1860px $colorThree, 388px 1412px $colorThree, 1212px 458px $colorThree, 755px 1468px $colorThree,
    696px 1654px $colorThree, 1144px 60px $colorThree;
}

#stars:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px $colorOne, 324px 42px $colorOne, 303px 586px $colorOne,
    1312px 276px $colorOne, 451px 625px $colorOne, 521px 1931px $colorOne, 1087px 1871px $colorOne,
    36px 1546px $colorOne, 132px 934px $colorOne, 1698px 901px $colorOne, 1418px 664px $colorOne,
    1448px 1157px $colorOne, 1084px 232px $colorOne, 347px 1776px $colorOne, 1722px 243px $colorOne,
    1629px 835px $colorOne, 479px 969px $colorOne, 1231px 960px $colorOne, 586px 384px $colorOne,
    164px 527px $colorOne, 8px 646px $colorOne, 1150px 1126px $colorOne, 665px 1357px $colorOne,
    1556px 1982px $colorOne, 1260px 1961px $colorOne, 1675px 1741px $colorOne,
    1843px 1514px $colorOne, 718px 1628px $colorOne, 242px 1343px $colorOne, 1497px 1880px $colorOne,
    1364px 230px $colorOne, 1739px 1302px $colorOne, 636px 959px $colorOne, 304px 686px $colorOne,
    614px 751px $colorOne, 1935px 816px $colorOne, 1428px 60px $colorOne, 355px 335px $colorOne,
    1594px 158px $colorOne, 90px 60px $colorOne, 1553px 162px $colorOne, 1239px 1825px $colorOne,
    1945px 587px $colorOne, 749px 1785px $colorOne, 1987px 1172px $colorOne, 1301px 1237px $colorOne,
    1039px 342px $colorOne, 1585px 1481px $colorOne, 995px 1048px $colorOne, 524px 932px $colorOne,
    214px 413px $colorOne, 1701px 1300px $colorOne, 1037px 1613px $colorOne, 1871px 996px $colorOne,
    1360px 1635px $colorOne, 1110px 1313px $colorOne, 412px 1783px $colorOne, 1949px 177px $colorOne,
    903px 1854px $colorOne, 700px 1936px $colorOne, 378px 125px $colorOne, 308px 834px $colorOne,
    1118px 962px $colorOne, 1350px 1929px $colorOne, 781px 1811px $colorOne, 561px 137px $colorOne,
    757px 1148px $colorOne, 1670px 1979px $colorOne, 343px 739px $colorOne, 945px 795px $colorOne,
    576px 1903px $colorOne, 1078px 1436px $colorOne, 1583px 450px $colorOne, 1366px 474px $colorOne,
    297px 1873px $colorOne, 192px 162px $colorOne, 1624px 1633px $colorOne, 59px 453px $colorOne,
    82px 1872px $colorOne, 1933px 498px $colorOne, 1966px 1974px $colorOne, 1975px 1688px $colorOne,
    779px 314px $colorOne, 1858px 1543px $colorOne, 73px 1507px $colorOne, 1693px 975px $colorOne,
    1683px 108px $colorOne, 1768px 1654px $colorOne, 654px 14px $colorOne, 494px 171px $colorOne,
    1689px 1895px $colorOne, 1660px 263px $colorOne, 1031px 903px $colorOne, 1203px 1393px $colorOne,
    1333px 1421px $colorOne, 1113px 41px $colorOne, 1206px 1645px $colorOne, 1325px 1635px $colorOne,
    142px 388px $colorOne, 572px 215px $colorOne, 1535px 296px $colorOne, 1419px 407px $colorOne,
    1379px 1003px $colorOne, 329px 469px $colorOne, 1791px 1652px $colorOne, 935px 1802px $colorOne,
    1330px 1820px $colorOne, 421px 1933px $colorOne, 828px 365px $colorOne, 275px 316px $colorOne,
    707px 960px $colorOne, 1605px 1554px $colorOne, 625px 58px $colorOne, 717px 1697px $colorOne,
    1669px 246px $colorOne, 1925px 322px $colorOne, 1154px 1803px $colorOne, 1929px 295px $colorOne,
    1248px 240px $colorOne, 1045px 1755px $colorOne, 166px 942px $colorOne, 1888px 1773px $colorOne,
    678px 1963px $colorOne, 1370px 569px $colorOne, 1974px 1400px $colorOne, 1786px 460px $colorOne,
    51px 307px $colorOne, 784px 1400px $colorOne, 730px 1258px $colorOne, 1712px 393px $colorOne,
    416px 170px $colorOne, 1797px 1932px $colorOne, 572px 219px $colorOne, 1557px 1856px $colorOne,
    218px 8px $colorOne, 348px 1334px $colorOne, 469px 413px $colorOne, 385px 1738px $colorOne,
    1357px 1818px $colorOne, 240px 942px $colorOne, 248px 1847px $colorOne, 1535px 806px $colorOne,
    236px 1514px $colorOne, 1429px 1556px $colorOne, 73px 1633px $colorOne, 1398px 1121px $colorOne,
    671px 1301px $colorOne, 1404px 1663px $colorOne, 740px 1018px $colorOne, 1600px 377px $colorOne,
    785px 514px $colorOne, 112px 1084px $colorOne, 1915px 1887px $colorOne, 1463px 1848px $colorOne,
    687px 1115px $colorOne, 1268px 1768px $colorOne, 1729px 1425px $colorOne,
    1284px 1022px $colorOne, 801px 974px $colorOne, 1975px 1317px $colorOne, 1354px 834px $colorOne,
    1446px 1484px $colorOne, 1283px 1786px $colorOne, 11px 523px $colorOne, 1842px 236px $colorOne,
    1355px 654px $colorOne, 429px 7px $colorOne, 1033px 1128px $colorOne, 157px 297px $colorOne,
    545px 635px $colorOne, 52px 1080px $colorOne, 827px 1520px $colorOne, 1121px 490px $colorOne,
    9px 309px $colorOne, 1744px 1586px $colorOne, 1014px 417px $colorOne, 1534px 524px $colorOne,
    958px 552px $colorOne, 1403px 1496px $colorOne, 387px 703px $colorOne, 1522px 548px $colorOne,
    1355px 282px $colorOne, 1532px 601px $colorOne, 1838px 790px $colorOne, 290px 259px $colorOne,
    295px 598px $colorOne, 1601px 539px $colorOne, 1561px 1272px $colorOne, 34px 1922px $colorOne,
    1024px 543px $colorTwo, 467px 369px $colorTwo, 722px 333px $colorTwo, 1976px 1255px $colorTwo,
    766px 983px $colorTwo, 1582px 1285px $colorTwo, 12px 512px $colorTwo, 617px 1410px $colorTwo,
    682px 577px $colorTwo, 1334px 1438px $colorTwo, 439px 327px $colorTwo, 1617px 1661px $colorTwo,
    673px 129px $colorTwo, 794px 941px $colorTwo, 1386px 1902px $colorTwo, 37px 1353px $colorTwo,
    1467px 1353px $colorTwo, 416px 18px $colorTwo, 187px 344px $colorTwo, 200px 1898px $colorTwo,
    1491px 1619px $colorTwo, 811px 347px $colorTwo, 924px 1827px $colorTwo, 945px 217px $colorTwo,
    1735px 1228px $colorTwo, 379px 1890px $colorTwo, 79px 761px $colorTwo, 825px 1837px $colorTwo,
    1980px 1558px $colorTwo, 1308px 1573px $colorTwo, 1488px 1726px $colorTwo,
    382px 1208px $colorTwo, 522px 595px $colorTwo, 1277px 1898px $colorTwo, 354px 552px $colorTwo,
    161px 1784px $colorTwo, 614px 251px $colorTwo, 526px 1576px $colorTwo, 17px 212px $colorTwo,
    179px 996px $colorTwo, 467px 1208px $colorTwo, 1944px 1838px $colorTwo, 1140px 1093px $colorTwo,
    858px 1007px $colorTwo, 200px 1064px $colorTwo, 423px 1964px $colorTwo, 1945px 439px $colorTwo,
    1377px 689px $colorTwo, 1120px 1437px $colorTwo, 1876px 668px $colorTwo, 907px 1324px $colorTwo,
    343px 1976px $colorTwo, 1816px 1501px $colorTwo, 1849px 177px $colorTwo, 647px 91px $colorTwo,
    1984px 1012px $colorTwo, 1336px 1300px $colorTwo, 128px 648px $colorTwo, 305px 1060px $colorTwo,
    1324px 826px $colorTwo, 1263px 1314px $colorTwo, 1801px 629px $colorTwo, 1614px 1555px $colorTwo,
    1634px 90px $colorTwo, 1603px 452px $colorTwo, 891px 1984px $colorTwo, 1556px 1906px $colorTwo,
    121px 68px $colorTwo, 1676px 1714px $colorTwo, 516px 936px $colorTwo, 1947px 1492px $colorTwo,
    1455px 1519px $colorTwo, 45px 602px $colorTwo, 205px 1039px $colorTwo, 793px 172px $colorTwo,
    1562px 1739px $colorTwo, 1056px 110px $colorTwo, 1512px 379px $colorTwo, 1795px 1621px $colorTwo,
    1848px 607px $colorTwo, 262px 1719px $colorTwo, 477px 991px $colorTwo, 483px 883px $colorTwo,
    1239px 1197px $colorTwo, 1496px 647px $colorTwo, 1649px 25px $colorTwo, 1491px 1946px $colorTwo,
    119px 996px $colorTwo, 179px 1472px $colorTwo, 1341px 808px $colorTwo, 1565px 1700px $colorTwo,
    407px 1544px $colorTwo, 1754px 357px $colorTwo, 1288px 981px $colorTwo, 902px 1997px $colorTwo,
    1755px 1668px $colorTwo, 186px 877px $colorTwo, 1202px 1882px $colorTwo, 461px 1213px $colorTwo,
    1400px 748px $colorTwo, 1969px 1899px $colorTwo, 809px 522px $colorTwo, 514px 1219px $colorTwo,
    374px 275px $colorTwo, 938px 1973px $colorTwo, 357px 552px $colorTwo, 144px 1722px $colorTwo,
    1572px 912px $colorTwo, 402px 1858px $colorTwo, 1544px 1195px $colorTwo, 667px 1257px $colorTwo,
    727px 1496px $colorTwo, 993px 232px $colorTwo, 1772px 313px $colorTwo, 1040px 1590px $colorTwo,
    1204px 1973px $colorTwo, 1268px 79px $colorTwo, 1555px 1048px $colorTwo, 986px 1707px $colorTwo,
    978px 1710px $colorTwo, 713px 360px $colorTwo, 407px 863px $colorTwo, 461px 736px $colorTwo,
    284px 1608px $colorTwo, 103px 430px $colorTwo, 1283px 1319px $colorTwo, 977px 1186px $colorTwo,
    1966px 1516px $colorTwo, 1287px 1129px $colorTwo, 70px 1098px $colorTwo, 1189px 889px $colorTwo,
    1126px 1734px $colorTwo, 309px 1292px $colorTwo, 879px 764px $colorTwo, 65px 473px $colorTwo,
    1003px 1959px $colorTwo, 658px 791px $colorTwo, 402px 1576px $colorTwo, 35px 622px $colorTwo,
    529px 1589px $colorTwo, 164px 666px $colorTwo, 1876px 1290px $colorTwo, 1541px 526px $colorTwo,
    270px 1297px $colorTwo, 440px 865px $colorTwo, 1500px 802px $colorTwo, 182px 1754px $colorTwo,
    1264px 892px $colorTwo, 272px 1249px $colorTwo, 1289px 1535px $colorTwo, 190px 1646px $colorTwo,
    955px 242px $colorTwo, 1456px 1597px $colorTwo, 1727px 1983px $colorTwo, 635px 801px $colorTwo,
    226px 455px $colorTwo, 1396px 1710px $colorTwo, 849px 1863px $colorTwo, 237px 1264px $colorTwo,
    839px 140px $colorTwo, 1122px 735px $colorTwo, 1280px 15px $colorTwo, 1318px 242px $colorTwo,
    1819px 1148px $colorTwo, 333px 1392px $colorTwo, 1949px 553px $colorTwo, 1878px 1332px $colorTwo,
    467px 548px $colorTwo, 1812px 1082px $colorTwo, 1067px 193px $colorTwo, 243px 156px $colorTwo,
    483px 1616px $colorTwo, 1714px 933px $colorTwo, 759px 1800px $colorTwo, 1822px 995px $colorTwo,
    1877px 572px $colorTwo, 581px 1084px $colorTwo, 107px 732px $colorTwo, 642px 1837px $colorTwo,
    166px 1493px $colorTwo, 1555px 198px $colorTwo, 819px 307px $colorTwo, 947px 345px $colorTwo,
    827px 224px $colorTwo, 927px 1394px $colorTwo, 540px 467px $colorTwo, 1093px 405px $colorTwo,
    1140px 927px $colorTwo, 130px 529px $colorTwo, 33px 1980px $colorTwo, 1147px 1663px $colorTwo,
    1616px 1436px $colorTwo, 528px 710px $colorTwo, 798px 1100px $colorTwo, 505px 1480px $colorTwo,
    899px 641px $colorTwo, 1909px 1949px $colorTwo, 1311px 964px $colorTwo, 979px 1301px $colorTwo,
    1393px 969px $colorTwo, 1793px 1886px $colorTwo, 292px 357px $colorTwo, 1196px 1718px $colorTwo,
    1290px 1994px $colorTwo, 537px 1973px $colorTwo, 1181px 1674px $colorTwo,
    1740px 1566px $colorTwo, 1307px 265px $colorTwo, 922px 522px $colorTwo, 1892px 472px $colorTwo,
    384px 1746px $colorTwo, 392px 1098px $colorTwo, 647px 548px $colorTwo, 390px 1498px $colorTwo,
    1246px 138px $colorTwo, 730px 876px $colorTwo, 192px 1472px $colorTwo, 1790px 1789px $colorTwo,
    928px 311px $colorTwo, 1253px 1647px $colorTwo, 747px 1921px $colorTwo, 1561px 1025px $colorTwo,
    1533px 1292px $colorTwo, 1985px 195px $colorTwo, 728px 729px $colorTwo, 1712px 1936px $colorTwo,
    512px 1717px $colorTwo, 1528px 483px $colorTwo, 313px 1642px $colorTwo, 281px 1849px $colorTwo,
    1212px 799px $colorTwo, 435px 1191px $colorTwo, 1422px 611px $colorTwo, 1718px 1964px $colorTwo,
    411px 944px $colorTwo, 210px 636px $colorTwo, 1502px 1295px $colorTwo, 1434px 349px $colorTwo,
    769px 60px $colorTwo, 747px 1053px $colorTwo, 789px 504px $colorTwo, 1436px 1264px $colorTwo,
    1893px 1225px $colorTwo, 1394px 1788px $colorTwo, 1108px 1317px $colorTwo,
    1673px 1395px $colorThree, 854px 1010px $colorThree, 1705px 80px $colorThree, 1858px 148px $colorThree,
    1729px 344px $colorThree, 1388px 664px $colorThree, 895px 406px $colorThree, 1479px 157px $colorThree,
    1441px 1157px $colorThree, 552px 1900px $colorThree, 516px 364px $colorThree, 1647px 189px $colorThree,
    1427px 1071px $colorThree, 785px 729px $colorThree, 1080px 1710px $colorThree, 504px 204px $colorThree,
    1177px 1622px $colorThree, 657px 34px $colorThree, 1296px 1099px $colorThree, 248px 180px $colorThree,
    1212px 1568px $colorThree, 667px 1562px $colorThree, 695px 841px $colorThree, 1608px 1247px $colorThree,
    751px 882px $colorThree, 87px 167px $colorThree, 607px 1368px $colorThree, 1363px 1203px $colorThree,
    1836px 317px $colorThree, 1668px 1703px $colorThree, 830px 1154px $colorThree, 1721px 1398px $colorThree,
    1601px 1280px $colorThree, 976px 874px $colorThree, 1743px 254px $colorThree, 1020px 1815px $colorThree,
    1670px 1766px $colorThree, 1890px 735px $colorThree, 1379px 136px $colorThree, 1864px 695px $colorThree,
    206px 965px $colorThree, 1404px 1932px $colorThree, 1923px 1360px $colorThree, 247px 682px $colorThree,
    519px 1708px $colorThree, 645px 750px $colorThree, 1164px 1204px $colorThree, 834px 323px $colorThree,
    172px 1350px $colorThree, 213px 972px $colorThree, 1837px 190px $colorThree, 285px 1806px $colorThree,
    1047px 1299px $colorThree, 1548px 825px $colorThree, 1730px 324px $colorThree, 1346px 1909px $colorThree,
    772px 270px $colorThree, 345px 1190px $colorThree, 478px 1433px $colorThree, 1479px 25px $colorThree,
    1994px 1830px $colorThree, 1744px 732px $colorThree, 20px 1635px $colorThree, 690px 1795px $colorThree,
    1594px 569px $colorThree, 579px 245px $colorThree, 1398px 733px $colorThree, 408px 1352px $colorThree,
    1774px 120px $colorThree, 1152px 1370px $colorThree, 1698px 1810px $colorThree, 710px 1450px $colorThree,
    665px 286px $colorThree, 493px 1720px $colorThree, 786px 5px $colorThree, 637px 1140px $colorThree,
    764px 324px $colorThree, 927px 310px $colorThree, 938px 1424px $colorThree, 1884px 744px $colorThree,
    913px 462px $colorThree, 1831px 1936px $colorThree, 1527px 249px $colorThree, 36px 1381px $colorThree,
    1597px 581px $colorThree, 1530px 355px $colorThree, 949px 459px $colorThree, 799px 828px $colorThree,
    242px 1471px $colorThree, 654px 797px $colorThree, 796px 594px $colorThree, 1365px 678px $colorThree,
    752px 23px $colorThree, 1630px 541px $colorThree, 982px 72px $colorThree, 1733px 1831px $colorThree,
    21px 412px $colorThree, 775px 998px $colorThree, 335px 1945px $colorThree, 264px 583px $colorThree,
    158px 1311px $colorThree, 528px 164px $colorThree, 1978px 574px $colorThree, 717px 1203px $colorThree,
    734px 1591px $colorThree, 1555px 820px $colorThree, 16px 1943px $colorThree, 1625px 1177px $colorThree,
    1236px 690px $colorThree, 1585px 1590px $colorThree, 1737px 1728px $colorThree, 721px 698px $colorThree,
    1804px 1186px $colorThree, 166px 980px $colorThree, 1850px 230px $colorThree, 330px 1712px $colorThree,
    95px 797px $colorThree, 1948px 1078px $colorThree, 469px 939px $colorThree, 1269px 1899px $colorThree,
    955px 1220px $colorThree, 1137px 1075px $colorThree, 312px 1293px $colorThree, 986px 1762px $colorThree,
    1103px 1238px $colorThree, 428px 1993px $colorThree, 355px 570px $colorThree, 977px 1836px $colorThree,
    1395px 1092px $colorThree, 276px 913px $colorThree, 1743px 656px $colorThree, 773px 502px $colorThree,
    1686px 1322px $colorThree, 1516px 1945px $colorThree, 1334px 501px $colorThree, 266px 156px $colorThree,
    455px 655px $colorThree, 798px 72px $colorThree, 1059px 1259px $colorThree, 1402px 1687px $colorThree,
    236px 1329px $colorThree, 1455px 786px $colorThree, 146px 1228px $colorThree, 1851px 823px $colorThree,
    1062px 100px $colorThree, 1220px 953px $colorThree, 20px 1826px $colorThree, 36px 1063px $colorThree,
    1525px 338px $colorThree, 790px 1521px $colorThree, 741px 1099px $colorThree, 288px 1489px $colorThree,
    700px 1060px $colorThree, 390px 1071px $colorThree, 411px 1036px $colorThree, 1853px 1072px $colorThree,
    1446px 1085px $colorThree, 1164px 874px $colorThree, 924px 925px $colorThree, 291px 271px $colorThree,
    1257px 1964px $colorThree, 1580px 1352px $colorThree, 1507px 1216px $colorThree, 211px 956px $colorThree,
    985px 1195px $colorThree, 975px 1640px $colorThree, 518px 101px $colorThree, 663px 1395px $colorThree,
    914px 532px $colorThree, 145px 1320px $colorThree, 69px 1397px $colorThree, 982px 523px $colorThree,
    257px 725px $colorThree, 1599px 831px $colorThree, 1636px 1513px $colorThree, 1250px 1158px $colorThree,
    1132px 604px $colorThree, 183px 102px $colorThree, 1057px 318px $colorThree, 1247px 1835px $colorThree,
    1983px 1110px $colorThree, 1077px 1455px $colorThree, 921px 1770px $colorThree, 806px 1350px $colorThree,
    1938px 1992px $colorThree, 855px 1260px $colorThree, 902px 1345px $colorThree, 658px 1908px $colorThree,
    1845px 679px $colorThree, 712px 1482px $colorThree, 595px 950px $colorThree, 1784px 1992px $colorThree,
    1847px 1785px $colorThree, 691px 1004px $colorThree, 175px 1179px $colorThree, 1666px 1911px $colorThree,
    41px 61px $colorThree, 971px 1080px $colorThree, 1830px 1450px $colorThree, 1351px 1518px $colorThree,
    1257px 99px $colorThree, 1395px 1498px $colorThree, 1117px 252px $colorThree, 1779px 597px $colorThree,
    1346px 729px $colorThree, 1108px 1144px $colorThree, 402px 691px $colorThree, 72px 496px $colorThree,
    1673px 1604px $colorThree, 1497px 974px $colorThree, 1865px 1664px $colorThree, 88px 806px $colorThree,
    918px 77px $colorThree, 244px 1118px $colorThree, 256px 1820px $colorThree, 1851px 1840px $colorThree,
    605px 1851px $colorThree, 634px 383px $colorThree, 865px 37px $colorThree, 943px 1024px $colorThree,
    1951px 177px $colorThree, 1097px 523px $colorThree, 985px 1700px $colorThree, 1243px 122px $colorThree,
    768px 1070px $colorThree, 468px 194px $colorThree, 320px 1867px $colorThree, 1850px 185px $colorThree,
    380px 1616px $colorThree, 468px 1294px $colorThree, 1122px 1743px $colorThree, 884px 299px $colorThree,
    1300px 1917px $colorThree, 1860px 396px $colorThree, 1270px 990px $colorThree, 529px 733px $colorThree,
    1975px 1347px $colorThree, 1885px 685px $colorThree, 226px 506px $colorThree, 651px 878px $colorThree,
    1323px 680px $colorThree, 1284px 680px $colorThree, 238px 1967px $colorThree, 911px 174px $colorThree,
    1111px 521px $colorThree, 1150px 85px $colorThree, 794px 502px $colorThree, 484px 1856px $colorThree,
    1809px 368px $colorThree, 112px 953px $colorThree, 590px 1009px $colorThree, 1655px 311px $colorThree,
    100px 1026px $colorThree, 1803px 352px $colorThree, 865px 306px $colorThree, 1077px 1019px $colorThree,
    1335px 872px $colorThree, 1647px 1298px $colorThree, 1233px 1387px $colorThree, 698px 1036px $colorThree,
    659px 1860px $colorThree, 388px 1412px $colorThree, 1212px 458px $colorThree, 755px 1468px $colorThree,
    696px 1654px $colorThree, 1144px 60px $colorThree;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px $colorOne, 1775px 1663px $colorOne, 332px 1364px $colorOne,
    878px 340px $colorOne, 569px 1832px $colorOne, 1422px 1684px $colorOne, 1946px 1907px $colorOne,
    121px 979px $colorOne, 1044px 1069px $colorOne, 463px 381px $colorOne, 423px 112px $colorOne,
    523px 1179px $colorOne, 779px 654px $colorOne, 1398px 694px $colorOne, 1085px 1464px $colorOne,
    1599px 1869px $colorOne, 801px 1882px $colorOne, 779px 1231px $colorOne, 552px 932px $colorOne,
    1057px 1196px $colorOne, 282px 1280px $colorOne, 496px 1986px $colorOne, 1833px 1120px $colorOne,
    1802px 1293px $colorOne, 6px 1696px $colorOne, 412px 1902px $colorOne, 605px 438px $colorOne,
    24px 1212px $colorOne, 234px 1320px $colorOne, 544px 344px $colorOne, 1107px 170px $colorOne,
    1603px 196px $colorOne, 905px 648px $colorOne, 68px 1458px $colorOne, 649px 1969px $colorOne,
    744px 675px $colorOne, 1127px 478px $colorOne, 714px 1814px $colorOne, 1486px 526px $colorOne,
    270px 1636px $colorOne, 1931px 149px $colorOne, 1807px 378px $colorOne, 8px 390px $colorOne,
    1415px 699px $colorOne, 1473px 1211px $colorOne, 1590px 141px $colorOne, 270px 1705px $colorOne,
    69px 1423px $colorOne, 1108px 1053px $colorOne, 1946px 128px $colorOne, 371px 371px $colorOne,
    1490px 220px $colorOne, 357px 1885px $colorOne, 363px 363px $colorOne, 1896px 1256px $colorOne,
    1979px 1050px $colorOne, 947px 1342px $colorOne, 1754px 242px $colorOne, 514px 974px $colorOne,
    65px 1477px $colorOne, 1840px 547px $colorOne, 950px 695px $colorOne, 459px 1150px $colorOne,
    1124px 1502px $colorOne, 481px 940px $colorOne, 680px 839px $colorOne, 797px 1169px $colorOne,
    1977px 1491px $colorOne, 734px 1724px $colorOne, 210px 298px $colorOne, 816px 628px $colorOne,
    686px 770px $colorThree, 1721px 267px $colorThree, 1663px 511px $colorThree, 1481px 1141px $colorThree,
    582px 248px $colorThree, 1308px 953px $colorThree, 628px 657px $colorThree, 897px 1535px $colorThree,
    270px 931px $colorThree, 791px 467px $colorThree, 1336px 1732px $colorThree, 1013px 1653px $colorThree,
    1911px 956px $colorThree, 587px 816px $colorThree, 83px 456px $colorThree, 930px 1478px $colorThree,
    1587px 1694px $colorThree, 614px 1200px $colorThree, 302px 1782px $colorThree, 1711px 1432px $colorThree,
    443px 904px $colorThree, 1666px 714px $colorThree, 1588px 1167px $colorThree, 273px 1075px $colorThree,
    1679px 461px $colorThree, 721px 664px $colorThree, 1202px 10px $colorThree, 166px 1126px $colorThree,
    331px 1628px $colorThree, 430px 1565px $colorThree, 1585px 509px $colorThree, 640px 38px $colorThree,
    822px 837px $colorThree, 1760px 1664px $colorThree, 1122px 1458px $colorThree, 398px 131px $colorThree,
    689px 285px $colorThree, 460px 652px $colorThree, 1627px 365px $colorThree, 348px 1648px $colorThree,
    819px 1946px $colorThree, 981px 1917px $colorThree, 323px 76px $colorThree, 979px 684px $colorThree,
    887px 536px $colorThree, 1348px 1596px $colorThree, 1055px 666px $colorThree, 1402px 1797px $colorThree,
    1300px 1055px $colorThree, 937px 238px $colorThree, 1474px 1815px $colorThree, 1144px 1710px $colorThree,
    1629px 1087px $colorThree, 911px 919px $colorThree, 771px 819px $colorThree, 403px 720px $colorThree,
    163px 736px $colorThree, 1062px 238px $colorThree, 1774px 818px $colorThree, 1874px 1178px $colorThree,
    1177px 699px $colorThree, 1244px 1244px $colorThree, 1371px 58px $colorThree, 564px 1515px $colorThree,
    1824px 487px $colorThree, 929px 702px $colorThree, 394px 1348px $colorThree, 1161px 641px $colorThree,
    219px 1841px $colorThree, 358px 941px $colorThree, 140px 1759px $colorThree, 1019px 1345px $colorThree,
    274px 436px $colorThree, 1433px 1605px $colorThree, 1798px 1426px $colorThree, 294px 1848px $colorThree,
    1681px 1877px $colorThree, 1344px 1824px $colorThree, 1439px 1632px $colorThree,
    161px 1012px $colorTwo, 1308px 588px $colorTwo, 1789px 582px $colorTwo, 721px 1910px $colorTwo,
    318px 218px $colorTwo, 607px 319px $colorTwo, 495px 535px $colorTwo, 1552px 1575px $colorTwo,
    1562px 67px $colorTwo, 403px 926px $colorTwo, 1096px 1800px $colorTwo, 1814px 1709px $colorTwo,
    1882px 1831px $colorTwo, 533px 46px $colorTwo, 823px 969px $colorTwo, 530px 165px $colorTwo,
    1030px 352px $colorTwo, 1681px 313px $colorTwo, 338px 115px $colorTwo, 1607px 211px $colorTwo,
    1718px 1184px $colorTwo, 1589px 659px $colorTwo, 278px 355px $colorTwo, 464px 1464px $colorTwo,
    1165px 277px $colorTwo, 950px 694px $colorTwo, 1746px 293px $colorTwo, 793px 911px $colorTwo,
    528px 773px $colorTwo, 1883px 1694px $colorTwo, 748px 182px $colorTwo, 1924px 1531px $colorTwo,
    100px 636px $colorTwo, 1473px 1445px $colorTwo, 1264px 1244px $colorTwo, 850px 1377px $colorTwo,
    987px 1976px $colorTwo, 933px 1761px $colorTwo, 922px 1270px $colorTwo, 500px 396px $colorTwo,
    1324px 8px $colorTwo, 1967px 1814px $colorTwo, 1072px 1401px $colorTwo, 961px 37px $colorTwo,
    156px 81px $colorTwo, 1915px 502px $colorTwo, 1076px 1846px $colorTwo, 152px 1669px $colorTwo,
    986px 1529px $colorTwo, 1667px 1137px $colorTwo;
}

#stars2:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px $colorTwo, 1775px 1663px $colorTwo, 332px 1364px $colorTwo,
    878px 340px $colorTwo, 569px 1832px $colorTwo, 1422px 1684px $colorTwo, 1946px 1907px $colorTwo,
    121px 979px $colorTwo, 1044px 1069px $colorTwo, 463px 381px $colorTwo, 423px 112px $colorTwo,
    523px 1179px $colorTwo, 779px 654px $colorTwo, 1398px 694px $colorTwo, 1085px 1464px $colorTwo,
    1599px 1869px $colorTwo, 801px 1882px $colorTwo, 779px 1231px $colorTwo, 552px 932px $colorTwo,
    1057px 1196px $colorTwo, 282px 1280px $colorTwo, 496px 1986px $colorTwo, 1833px 1120px $colorTwo,
    1802px 1293px $colorTwo, 6px 1696px $colorTwo, 412px 1902px $colorTwo, 605px 438px $colorTwo,
    24px 1212px $colorTwo, 234px 1320px $colorTwo, 544px 344px $colorTwo, 1107px 170px $colorTwo,
    1603px 196px $colorTwo, 905px 648px $colorTwo, 68px 1458px $colorTwo, 649px 1969px $colorTwo,
    744px 675px $colorTwo, 1127px 478px $colorTwo, 714px 1814px $colorTwo, 1486px 526px $colorTwo,
    270px 1636px $colorTwo, 1931px 149px $colorTwo, 1807px 378px $colorTwo, 8px 390px $colorTwo,
    1415px 699px $colorTwo, 1473px 1211px $colorTwo, 1590px 141px $colorTwo, 270px 1705px $colorTwo,
    69px 1423px $colorTwo, 1108px 1053px $colorTwo, 1946px 128px $colorTwo, 371px 371px $colorTwo,
    1490px 220px $colorThree, 357px 1885px $colorThree, 363px 363px $colorThree, 1896px 1256px $colorThree,
    1979px 1050px $colorThree, 947px 1342px $colorThree, 1754px 242px $colorThree, 514px 974px $colorThree,
    65px 1477px $colorThree, 1840px 547px $colorThree, 950px 695px $colorThree, 459px 1150px $colorThree,
    1124px 1502px $colorThree, 481px 940px $colorThree, 680px 839px $colorThree, 797px 1169px $colorThree,
    1977px 1491px $colorThree, 734px 1724px $colorThree, 210px 298px $colorThree, 816px 628px $colorThree,
    686px 770px $colorThree, 1721px 267px $colorThree, 1663px 511px $colorThree, 1481px 1141px $colorThree,
    582px 248px $colorThree, 1308px 953px $colorThree, 628px 657px $colorThree, 897px 1535px $colorThree,
    270px 931px $colorThree, 791px 467px $colorThree, 1336px 1732px $colorThree, 1013px 1653px $colorThree,
    1911px 956px $colorThree, 587px 816px $colorThree, 83px 456px $colorThree, 930px 1478px $colorThree,
    1587px 1694px $colorThree, 614px 1200px $colorThree, 302px 1782px $colorThree, 1711px 1432px $colorThree,
    443px 904px $colorThree, 1666px 714px $colorThree, 1588px 1167px $colorThree, 273px 1075px $colorThree,
    1679px 461px $colorThree, 721px 664px $colorThree, 1202px 10px $colorThree, 166px 1126px $colorThree,
    331px 1628px $colorThree, 430px 1565px $colorThree, 1585px 509px $colorThree, 640px 38px $colorThree,
    822px 837px $colorThree, 1760px 1664px $colorThree, 1122px 1458px $colorThree, 398px 131px $colorThree,
    689px 285px $colorThree, 460px 652px $colorThree, 1627px 365px $colorThree, 348px 1648px $colorThree,
    819px 1946px $colorThree, 981px 1917px $colorThree, 323px 76px $colorThree, 979px 684px $colorThree,
    887px 536px $colorThree, 1348px 1596px $colorThree, 1055px 666px $colorThree, 1402px 1797px $colorThree,
    1300px 1055px $colorThree, 937px 238px $colorThree, 1474px 1815px $colorThree, 1144px 1710px $colorThree,
    1629px 1087px $colorThree, 911px 919px $colorThree, 771px 819px $colorThree, 403px 720px $colorThree,
    163px 736px $colorThree, 1062px 238px $colorThree, 1774px 818px $colorThree, 1874px 1178px $colorThree,
    1177px 699px $colorThree, 1244px 1244px $colorThree, 1371px 58px $colorThree, 564px 1515px $colorThree,
    1824px 487px $colorThree, 929px 702px $colorThree, 394px 1348px $colorThree, 1161px 641px $colorThree,
    219px 1841px $colorThree, 358px 941px $colorThree, 140px 1759px $colorThree, 1019px 1345px $colorThree,
    274px 436px $colorThree, 1433px 1605px $colorThree, 1798px 1426px $colorThree, 294px 1848px $colorThree,
    1681px 1877px $colorThree, 1344px 1824px $colorThree, 1439px 1632px $colorThree,
    161px 1012px $colorOne, 1308px 588px $colorOne, 1789px 582px $colorOne, 721px 1910px $colorOne,
    318px 218px $colorOne, 607px 319px $colorOne, 495px 535px $colorOne, 1552px 1575px $colorOne,
    1562px 67px $colorOne, 403px 926px $colorOne, 1096px 1800px $colorOne, 1814px 1709px $colorOne,
    1882px 1831px $colorOne, 533px 46px $colorOne, 823px 969px $colorOne, 530px 165px $colorOne,
    1030px 352px $colorOne, 1681px 313px $colorOne, 338px 115px $colorOne, 1607px 211px $colorOne,
    1718px 1184px $colorOne, 1589px 659px $colorOne, 278px 355px $colorOne, 464px 1464px $colorOne,
    1165px 277px $colorOne, 950px 694px $colorOne, 1746px 293px $colorOne, 793px 911px $colorOne,
    528px 773px $colorOne, 1883px 1694px $colorOne, 748px 182px $colorOne, 1924px 1531px $colorOne,
    100px 636px $colorOne, 1473px 1445px $colorOne, 1264px 1244px $colorOne, 850px 1377px $colorOne,
    987px 1976px $colorOne, 933px 1761px $colorOne, 922px 1270px $colorOne, 500px 396px $colorOne,
    1324px 8px $colorOne, 1967px 1814px $colorOne, 1072px 1401px $colorOne, 961px 37px $colorOne,
    156px 81px $colorOne, 1915px 502px $colorOne, 1076px 1846px $colorOne, 152px 1669px $colorOne,
    986px 1529px $colorOne, 1667px 1137px $colorOne;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinte;
    box-shadow: 387px 1878px $colorTwo, 760px 1564px $colorTwo, 1487px 999px $colorTwo,
    948px 1828px $colorTwo, 1977px 1001px $colorTwo, 1284px 1963px $colorTwo, 656px 284px $colorTwo,
    1268px 1635px $colorTwo, 1820px 598px $colorTwo, 642px 1900px $colorTwo, 296px 57px $colorTwo,
    921px 1620px $colorTwo, 476px 1858px $colorTwo, 658px 613px $colorTwo, 1171px 1363px $colorTwo,
    1419px 283px $colorTwo, 1037px 731px $colorTwo, 503px 663px $colorTwo, 1562px 463px $colorTwo,
    383px 1197px $colorTwo, 1171px 1233px $colorTwo, 876px 1768px $colorTwo, 856px 1615px $colorTwo,
    1375px 1924px $colorTwo, 1725px 918px $colorTwo, 952px 119px $colorTwo, 768px 1212px $colorTwo,
    992px 1462px $colorTwo, 1929px 717px $colorTwo, 1947px 755px $colorTwo, 1818px 1123px $colorTwo,
    1896px 1672px $colorTwo, 460px 198px $colorTwo, 256px 271px $colorTwo, 752px 544px $colorTwo,
    1222px 1859px $colorTwo, 1851px 443px $colorTwo, 313px 1858px $colorTwo, 709px 446px $colorTwo,
    1546px 697px $colorOne, 674px 1155px $colorOne, 1112px 130px $colorOne, 355px 1790px $colorOne,
    1496px 974px $colorOne, 1696px 480px $colorOne, 1316px 1265px $colorOne, 1645px 1063px $colorOne,
    1182px 237px $colorOne, 427px 1582px $colorOne, 859px 253px $colorOne, 458px 939px $colorOne,
    1517px 1644px $colorOne, 1943px 60px $colorOne, 212px 1650px $colorOne, 966px 1786px $colorOne,
    473px 712px $colorOne, 130px 76px $colorOne, 1417px 1186px $colorOne, 909px 1580px $colorOne,
    1913px 762px $colorOne, 204px 1143px $colorOne, 1998px 1057px $colorOne, 1468px 1301px $colorOne,
    144px 1676px $colorOne, 21px 1601px $colorOne, 382px 1362px $colorOne, 912px 753px $colorOne,
    1488px 1405px $colorOne, 802px 156px $colorOne, 174px 550px $colorOne, 338px 1366px $colorOne,
    1197px 774px $colorThree, 602px 486px $colorThree, 682px 1877px $colorThree, 348px 1503px $colorThree,
    407px 1139px $colorThree, 950px 1400px $colorThree, 922px 1139px $colorThree, 1697px 293px $colorThree,
    1238px 1281px $colorThree, 1038px 1197px $colorThree, 376px 1889px $colorThree,
    1255px 1680px $colorThree, 1008px 1316px $colorThree, 1538px 1447px $colorThree,
    1186px 874px $colorThree, 1967px 640px $colorThree, 1341px 19px $colorThree, 29px 1732px $colorThree,
    16px 1650px $colorThree, 1021px 1075px $colorThree, 723px 424px $colorThree, 1175px 41px $colorThree,
    494px 1957px $colorThree, 1296px 431px $colorThree, 175px 1507px $colorThree, 831px 121px $colorThree,
    498px 1947px $colorThree, 617px 880px $colorThree, 240px 403px $colorThree;
}

#stars3:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px $colorOne, 760px 1564px $colorOne, 1487px 999px $colorOne,
    948px 1828px $colorTwo, 1977px 1001px $colorTwo, 1284px 1963px $colorTwo, 656px 284px $colorTwo,
    1268px 1635px $colorTwo, 1820px 598px $colorTwo, 642px 1900px $colorTwo, 296px 57px $colorTwo,
    921px 1620px $colorTwo, 476px 1858px $colorTwo, 658px 613px $colorTwo, 1171px 1363px $colorTwo,
    1419px 283px $colorTwo, 1037px 731px $colorTwo, 503px 663px $colorTwo, 1562px 463px $colorTwo,
    383px 1197px $colorTwo, 1171px 1233px $colorTwo, 876px 1768px $colorTwo, 856px 1615px $colorTwo,
    1375px 1924px $colorTwo, 1725px 918px $colorTwo, 952px 119px $colorTwo, 768px 1212px $colorTwo,
    992px 1462px $colorTwo, 1929px 717px $colorTwo, 1947px 755px $colorTwo, 1818px 1123px $colorTwo,
    1896px 1672px $colorTwo, 460px 198px $colorTwo, 256px 271px $colorTwo, 752px 544px $colorTwo,
    1222px 1859px $colorOne, 1851px 443px $colorOne, 313px 1858px $colorOne, 709px 446px $colorOne,
    1546px 697px $colorOne, 674px 1155px $colorOne, 1112px 130px $colorOne, 355px 1790px $colorOne,
    1496px 974px $colorOne, 1696px 480px $colorOne, 1316px 1265px $colorOne, 1645px 1063px $colorOne,
    1182px 237px $colorOne, 427px 1582px $colorOne, 859px 253px $colorOne, 458px 939px $colorOne,
    1517px 1644px $colorOne, 1943px 60px $colorOne, 212px 1650px $colorOne, 966px 1786px $colorOne,
    473px 712px $colorOne, 130px 76px $colorOne, 1417px 1186px $colorOne, 909px 1580px $colorOne,
    1913px 762px $colorOne, 204px 1143px $colorOne, 1998px 1057px $colorOne, 1468px 1301px $colorOne,
    144px 1676px $colorOne, 21px 1601px $colorOne, 382px 1362px $colorOne, 912px 753px $colorOne,
    1488px 1405px $colorOne, 802px 156px $colorOne, 174px 550px $colorOne, 338px 1366px $colorOne,
    1197px 774px $colorOne, 602px 486px $colorOne, 682px 1877px $colorOne, 348px 1503px $colorOne,
    407px 1139px $colorOne, 950px 1400px $colorOne, 922px 1139px $colorOne, 1697px 293px $colorOne,
    1238px 1281px $colorOne, 1038px 1197px $colorOne, 376px 1889px $colorOne,
    1255px 1680px $colorOne, 1008px 1316px $colorOne, 1538px 1447px $colorOne,
    1186px 874px $colorOne, 1967px 640px $colorOne, 1341px 19px $colorOne, 29px 1732px $colorOne,
    16px 1650px $colorOne, 1021px 1075px $colorOne, 723px 424px $colorOne, 1175px 41px $colorOne,
    494px 1957px $colorOne, 1296px 431px $colorOne, 175px 1507px $colorOne, 831px 121px $colorOne,
    498px 1947px $colorOne, 617px 880px $colorOne, 240px 403px $colorOne;
}


@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
